<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Michmela44.StyleRepair.Properties.StyleRepair" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Michmela44.StyleRepair.StyleRepair" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Michmela44.StyleRepair.Properties.StyleRepair>
      <setting name="CompanyName" serializeAs="String">
        <value/>
      </setting>
      <setting name="CopyrightMessage" serializeAs="String">
        <value/>
      </setting>
      <setting name="NArrangeUseRegions" serializeAs="String">
        <value>True</value>
      </setting>
    </Michmela44.StyleRepair.Properties.StyleRepair>
    <Michmela44.StyleRepair.StyleRepair>
      <setting name="CompanyName" serializeAs="String">
        <value/>
      </setting>
      <setting name="CopyrightMessage" serializeAs="String">
        <value/>
      </setting>
    </Michmela44.StyleRepair.StyleRepair>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
